$shadowColor:rgb(121, 69, 109);
$borderColor:silver;
$mainWhite:whitesmoke;
$cardColor:rgb(53, 42, 104);
$buttonMain:rgb(207, 147, 193);
$buttonG:rgb(207, 207, 207);
$buttonDG:rgb(119, 119, 119);
$formfontS:10px;